body{

background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin:0;
}
.container{
    position: flex;
    width: 1440px;
    height: 960px;
 }

.image{
    position: absolute;
    width: 505px;
    height: 330px;
    left: 230px;
    top: 96px;

}

.content{
margin-top: -40px ;
    position: absolute;
width: 380px;
height: 250px;
left: 830px;
top: 136px;


}

.title{
    
width: 380px;
height: 50px;


font-weight: 700;
font-size: 42px;
line-height: 120%;

}

.text{
    position: flex;
width: 380px;
height: 96px;
left: calc(50% - 380px/2 + 300px);
top: calc(50% - 96px/2 - 222px);

/* Body Copy */

font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 150%;

}

.btn{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 40px;
gap: 10px;
margin-top: 32px;
 border: none;


background: #E4C1AE;
border-radius: 32px;
color: #FFFFFF;

font-style: normal;
font-weight: 700;
font-size: 16px;

flex: none;
order: 0;
flex-grow: 0;
}